  
-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="/amsterdam1">Day1：Amsterdam</a><br />
<a href="/amsterdam2">Day2：Alkmaar → Amsterdam</a><br />
<a href="/amsterdam3">Day3：Amsterdam（King's Day）</a><br />
<a href="/amsterdam4a">Day4.1：Hoorn → Medemblik</a><br />
<a href="/amsterdam4b">Day4.2：IJsselmeer → Enkhuizen → Hoorn → Amsterdam</a><br />
<a href="/amsterdam5">Day5：Keukenhof → Amsterdam</a><br />
<a href="/amsterdam6">Day6：Amsterdam</a><br />
<a href="/amsterdam7">Day7：Amsterdam, AMS → HKG</a><br /><br />
