  
-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="/belgium1">Day1：AMS → Brussel</a><br />
<a href="/belgium2a">Day2.1：Dinant</a><br />
<a href="/belgium2b">Day2.2：Naumr</a><br />
<a href="/belgium3a">Day3.1：Brugge</a><br />
<a href="/belgium3b">Day3.2：Gent → Brussel</a><br />
<a href="/belgium4">Day4：Leuven → Brussel</a><br />
<a href="/belgium5">Day5：Antwerpen → Brussel</a><br />
<a href="/belgium6">Day6：Brussel</a><br />
<a href="/belgium7">Day7：Brussel</a><br /><br />
