
-----------------------------------------------<br />
<br />
延伸閱讀：<a href="/hiroshima8d7n/">広島！食紀行（8D7N）</a>  <br />
<a href="/hiroshima1">Day1：尾道らーめん 三公 | 季節料理 なかしま</a><br />
<a href="/hiroshima2">Day2：e's time cafe & ANDERSEN | 酔心本店 | 幸せパンケーキ | 徳ちゃん</a><br />
<a href="/hiroshima3">Day3：Yesterday | 田頭茶舗 | みっちゃん総本店</a><br />
<a href="/hiroshima4">Day4：倉式珈琲店 | THE OUTLETS HIROSHIMA | 天ぷら・宝</a><br />
<a href="/hiroshima5">Day5：43 | 縮景園 | 広島城、広島護國神社、お城の茶屋 | Aeon Mall | 波平キッチン</a><br />
<a href="/hiroshima6">Day6：あなごめし うえの | 岩村菓子舗 → <b>厳島</b> → 米米食堂 | 重富酒店 | 大嵐</a><br />
<a href="/hiroshima7">Day7：かき船 かなわ | Boss Shake | Mirori Cafe | 焼肉 牛腸鉄平食堂</a><br />
<a href="/hiroshima8">Day8：BAGEL&BAGEL | そば処 菜の里</a><br /><br />
