
-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="/kojngs1">Day1：鹿児島ラーメン 我流風 | 揚立屋 | 天文館公園 | 旬や 吟 | 西本願寺（除夜会・除夜の鐘）</a><br />
<a href="/kojngs2">Day2：AMU Plaza 鹿児島 | かつ寿 | 味処 むじゃき亭</a><br />
<a href="/kojngs3">Day3：山形屋 | シャローム | 吾愛人 | 天文館本通り | (高速バス) → 長崎 | 魚民</a><br />
<a href="/kojngs4">Day4：AMU Plaza 長崎 | Youme| Cocowalk | 炭蔵</a><br />
<a href="/kojngs5">Day5：旅人茶屋 | 稲佐山温泉ふくの湯 | 長崎浜町商店街 | 秋月園 | ツル茶ん 本店 | 草花洛</a><br />
<a href="/kojngs6">Day6：ロイヤルホスト | 長崎路面電車資料館 | 長崎原爆資料館、平和公園 | もつ鍋 おおやま | 稲佐山 長崎夜景 | 魚店亜紗</a><br />
<a href="/kojngs7">Day7：NGS COFFEE | 稲佐山温泉ふくの湯 | とれとれ旬家 | 眼鏡橋、長崎新地中華街 | 珈琲 冨士男 | 浜勝</a><br />
<a href="/kojngs8">Day8：吉宗 | 百菜 旬 | 長崎空港 | 鮨どころ しょうぶ</a><br /><br />
