  
-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="/portugal1">Day1：Hello Lisbon</a><br />
<a href="/portugal2">Day2：Lisboa → Porto</a><br />
<a href="/portugal3">Day3：Porto ↔ Vila Nova de Gaia</a><br />
<a href="/portugal4">Day4：Porto</a><br />
<a href="/portugal5">Day5：Porto ↔ Barcelos</a><br />
<a href="/portugal6">Day6：Porto ↔ Guimarães</a><br />
<a href="/portugal7">Day7：Porto (～Santa Clara)</a><br />
<a href="/portugal8">Day8：Porto ↔ Pinhão</a><br />
<a href="/portugal9">Day9：Porto (…Matosinhos)</a><br />
<a href="/portugal10">Day10：Porto → Lisboa</a><br />
<a href="/portugal11">Day11：Lisboa ↔ Sintra</a><br />
<a href="/portugal12">Day12：Lisboa (～Belém)</a><br />
<a href="/portugal13">Day13：Lisboa (…Arroios)</a><br />
<a href="/portugal14">Day14：Lisboa</a><br />
<a href="/portugal15">Day15：Lisboa ↔ Cascais</a><br />
<a href="/portugal16">Day16：Lisboa（…Oriente）</a><br />
<a href="/portugal17">Day17：Lisboa</a><br /><br />
