

-----------------------------------------------<br />
<br />
延伸閱讀：<a href="/shikoku8d7n/">食の四国ツアー (8D7N)</a><br />
<a href="/shikoku1">Day1：香川（高松）</a><br />
<a href="/shikoku2">Day2：香川（高松、丸亀、琴平）</a><br />
<a href="/shikoku3">Day3：香川（高松）↔ 徳島（鳴門、徳島）</a><br />
<a href="/shikoku4">Day4：香川（高松）→ 愛媛（松山）</a><br />
<a href="/shikoku5">Day5：愛媛（松山、宇和島）</a><br />
<a href="/shikoku6">Day6：愛媛（松山）→ 高知（高知）</a><br />
<a href="/shikoku7">Day7：高知（高知、中村、須崎）</a><br />
<a href="/shikoku8">Day8：高知（高知）→ 高松（高松空港）</a><br /><br />
