-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="/turkey1">Day1：HKG → IST</a><br />
<a href="/turkey2">Day2：İstanbul</a><br />
<a href="/turkey3">Day3：İstanbul</a><br />
<a href="/turkey4">Day4：Adalar</a><br />
<a href="/turkey5">Day5：İstanbul → Cappadocia</a><br />
<a href="/turkey6">Day6：Cappadocia Balloon Flight、Red Tour</a><br />
<a href="/turkey7">Day7：Cappadocia Green Tour</a><br />
<a href="/turkey8">Day8：Cappadocia → İstanbul | IST→ HKG</a><br /><br />
