    
-----------------------------------------------<br />
<br />
延伸閱讀：  <br />
<a href="/yangon0">Night1：HKG → RGN (Vintage Luxury Yacht Hotel)</a><br />
<a href="/yangon1">Day1：Bogyoke Market、Inya Day Spa、The Strand Café、Myanhouse、Sofaer & Co</a><br />
<a href="/yangon2">Day2：Shwedagon Pagoda、Bodhi Nava、Kandawgyi Lake、Chaukhtatgyi Pagoda、Inya Lake、Le Planteur、ROOT</a><br />
<a href="/yangon3">Day3：999 Shan Noodle、Yangon Circular Railway、Danyingone Market、Khit Myanmar、Htwe Oo Myanmar、HLA DAY、Rangoon</a><br />
<a href="/yangon4">Day4：Shwe Htoo、Bogyoke Market、YKKO、V Traditional、1920、The Pansodan → RGN</a><br /><br />

